:root{
    --gradient:  linear-gradient(to right, #0c4de4, #1a79d8, #4699c9, #1fcbea, #75daea, #61c99e, #31c660, #18c772, #56c1ab);
}
*{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  color: #222;
  background: beige;
  background-image: var(--gradient);
  background-size: 400%;
  animation: fondo-anim 7s infinite alternate;
}
@keyframes fondo-anim{
  0%{background-position: left;} /*por defecto*/
  100%{background-position: right;}
}
#background{
    background-color: rgba(255, 255, 255, 0.2);
    width: auto;
    height: auto;
}
main {
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}

section1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;

}

h1 {
    text-align: center;
}

.par {
    height: 100px;
    border-color: #ffffff00;
    width: 100px;
    font-size: 40px;
    color: white;
    background-image:url('./images/back2.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    font-weight: bold;
}

.par:hover {
    cursor: pointer;
}

.section2 {
border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    margin-top: 40px;
    padding: 0 10px;
}

.estadisticas {
    height: 130px;
    border-radius: 10px;
    padding: 8px 20px;
    box-sizing: border-box;
}
img{
    width: 60%;
}
.semaforo{
    display: flex;
    align-items: center;
}
#aciertosDosV, #aciertosDosA, #aciertosDosR{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
#aciertosDosA{
    background-color:  #ff8400;
}
footer {
    text-align: center;
}