:root{
  --gradient:  linear-gradient(to right, #e80033, #f9a852, #f69653, #f38654, #f07654, #ed6856, #ef5956, #ee4c58, #56c1ab);
}
*{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  color: #222;
  background: beige;
  background-image: var(--gradient);
  background-size: 400%;
  animation: fondo-anim 7s infinite alternate;
}
@keyframes fondo-anim{
  0%{background-position: left;} /*por defecto*/
  100%{background-position: right;}
}

main {
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}

section1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

button {
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.section2 {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0 10px;
}

.estadisticas {
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
img{
    width: 80%;
}

footer {
    text-align: center;
}